body {
    background-color: #EEEDED;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.resume{
    text-decoration: none;
    color: #19A7CE;

}

.resume1{
    color: white;
    background-color: grey;
}

.contain {
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

.li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.li a {
    text-decoration: none;
    color: #053B50;
    padding: 10px;
}
.fa{
    font-family: 'Precious', sans-serif;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .li {
        width: 100%;
        flex-direction: column; /* Stack items vertically on smaller screens */
        text-align: center;
    }

    .li a {
        margin: 5px;
        flex: 1; /* Take up full width on smaller screens */
    }
}



/* Responsive typography */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Section styles */
.sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7 {
    margin: 20px 0;
}

/* Image styles */
.img1 {
    border-radius: 50%;
    border: 2px solid #19A7CE;
    background-color: #19A7CE;
    justify-content: center;
    display: flex;
    width: 40%;
    margin: 0 auto;
}

.img2 {
    width: 100px;
    height: 80px;
    padding: 10px;
}

.img3, .img4 {
    width: 100%;
    height: auto;
    padding: 10px;
}

.img5 {
    width: 30px;
    height: 30px;
    padding: 5px;
}


/* Clickable element styles */
.click, .clicky {
    border: 2px solid #ccc;
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 5px #ccc;
    margin: 10px 0;
}

/* Footer styles */
.foot {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    color: #053B50;
}
